@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes radialGradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#clrbtn {
  background: radial-gradient(circle, #0078d4, #00bfae, #0078d4);
  background-size: 200% 200%;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  animation: radialGradientShift 5s ease infinite;
}
